
  .center-content {
    width: 650px;
    height: 100px;
    margin: auto;
    padding: 12px;
    margin-top: 5px;
    text-align: center;
    font-size: 74px;
  }
  .center-content .text-small {
    font-size: 22px;
  }
  .mdl-radio {
    font-size: 34px;
  }
  .center-content-input {
    font-size: 65px;
    height: 60px;
    width: 100px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: 0 0;
  }
  .mdl-mini-footer {
    height: 12px;
  }

  @media screen and (max-width:500px) {
    .center-content {
      height: 28px;
      width: 80%;
      font-size: 25px;
    }    
    .center-content .text-small {
      font-size: 15px;
    }
    .mdl-radio {
      font-size: 25px;
    }
    .center-content-input {
      font-size: 23px;
      height: 25px;
      width: 100px;
    }    
  }
