
  .center-content {
    top: auto;
    width: 650px;
    height: 80px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .mdl-radio {
    font-size: 30px;
  }
  .center-content-input {
    font-size: 65px;
    height: 70px;
    width: 200px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: 0 0;
  }
