
  .center-content {
    top: auto;
    width: 650px;
    height: 110px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 74px;
  }
  .center-content .text-small {
    font-size: 22px;
  }
  .mdl-radio {
    font-size: 34px;
  }
  .center-content-input {
    font-size: 65px;
    height: 70px;
    width: 200px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: 0 0;
  }

  @media screen and (max-width:500px) {
    .center-content {
      width: 80%;
      font-size: 30px;
    }    
    .center-content .text-small {
      font-size: 12px;
    }
    .mdl-radio {
      font-size: 18px;
    }
    .center-content-input {
      font-size: 40px;
    }    
  }
